@reference '../../styles/global.css';

/*! purgecss start ignore */
.postBody {
    table {
        @apply w-5/6 mx-auto table-auto;
        @apply border border-collapse border-table;

        & thead {
            @apply bg-table-head border border-table;

            & tr > th {
                @apply border border-table;
            }
        }

        & tbody {
            & tr:nth-child(odd) {
                @apply bg-table-odd;
            }

            & tr:nth-child(even) {
                @apply bg-table-even;
            }

            & td {
                @apply border border-table;
            }
        }
    }

    blockquote {
        @apply p-2 mx-2 mt-4 shadow-md bg-bq border-0 border-s-4 border-secondary;

        & :global(p) {
            @apply text-primary;
            text-indent: 0;
        }

        & > :global(cite) {
            @apply block mt-2 ms-16 italic text-secondary;

            &:global(::before) {
                content: '-- ';
                @apply text-secondary;
            }
        }
    }

    /* autolink-headers: start */
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply flex;

        & > :global(a.autolink-hdrs) > span > svg {
            @apply inline-block ms-2 w-4 h-4 fill-current text-secondary;
        }
    }

    /* img: start */
    :global(.gatsby-resp-image-wrapper) {
        img {
            @apply border-2 border-secondary shadow-md;
        }
    }

    /* img: end */
    /* LTR override for code blocks */
    :global(.ltr) {
        direction: ltr;
    }

    /* Summary/details elements */
    summary {
        @apply text-blue-400;
    }

    /* Paragraph spacing between consecutive paragraphs */
    p + p {
        margin-top: 1.5rem;
    }

    /* First paragraph after headings - tighter spacing */
    h2 + p,
    h3 + p,
    h4 + p {
        margin-top: 0.75rem;
    }

    /* List item alignment - MDX wraps content in <p>, display inline to align with marker */
    li > p:first-child {
        display: inline;
    }
}

/*! purgecss end ignore */
